{% extends 'base.html' %}

{% block title %}Response{% endblock title %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Result</h1>
        <ul class="list-group">
            {% for category, clf in clf_results.items() %}
                {% if clf == 1 %}
                    <li class="list-group-item list-group-item-success text-center">{{category.replace('_', ' ').title()}}</li>
                {% else %}
                    <li class="list-group-item list-group-item-dark text-center">{{category.replace('_', ' ').title()}}</li>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content%}